@model Hotel_Reservations_Manager.Models.User

@{
    ViewData["Title"] = "Activate User";
}

<h1>Activate User</h1>

<div class="alert alert-info">
    <p>Are you sure you want to activate this user?</p>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>

    <form asp-action="Activate">
        <input type="hidden" asp-for="EGN" />
        <input type="submit" value="Activate" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>